.pages {
    display: flex;
    margin: 0px;
}

.pages>li {
    text-decoration: none;
    color: blue;
    list-style-type: none;
    width: 30px;
    margin: 5px 5px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pages>li:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}